[Unit]
Description=NEON World OS service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/neon --version
User=neon
Group=neon
AmbientCapabilities=
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectKernelLogs=yes
ProtectClock=yes
ReadOnlyPaths=/
ReadWritePaths=/var/lib/neon
MemoryDenyWriteExecute=yes
LockPersonality=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes

[Install]
WantedBy=multi-user.target
